GH_USERNAME= # Your Github username.
GH_PERSONAL_TOKEN= # Generate a CLASSIC personal token at https://github.com/settings/tokens WITHOUT any scopes!!!!!!!
DISCORD_ID= # Your Discord user ID. Make sure you are monitored by lanyard.rest
IGNORED_REPOS= # An array of repos you'd like to ignore. Your username repo is automatically ignored.

NAME="" # The name you'd like to display on the website.
DESCRIPTION="" # The description you'd like to display on the website.

PORT=3000 # The port you'd like to host the webserver on.

# Icons to display on the website. Icons are displayed in the order you placed them in. 
# Check utils/devicons.json for all icons. Icons provided by devicons, categorized by ChatGPT.
PROGRAMMING_LANGUAGES=csharp,javascript
WEB_DEVELOPMENT=html5,css3,nodejs,express,socketio
SERVER_TECHNOLOGIES=ubuntu,filezilla,nginx,git,raspberrypi,ssh
GRAPHIC_DESIGN=photoshop,illustrator
MACHINE_LEARNING_AND_AI=pytorch,tensorflow
MISCELLANEOUS=npm,mongodb,discordjs,kaggle,markdown